:root {
	--white: #ffffff;
	--accent-100: #f3f9e3;
	--accent-200: #d3c6a6;
	--primary: #a78b4a;
	--accent-600: #534627;
	--primary-800: #15120a;
	--black-100: rgba(0, 0, 0, 0.164);
	--black: #000000;

	font-family: "Barlow", sans-serif;
}

/*Set variables based on clients logo. --primary = Metallic Sunburst, found in the WSP logo lettering. I created a color palette
on coolers.co and chose some subtle earthy tones for possible accents. Client likes the --white, clean appearance. Want to maintain
simplicity with --white and --primary, but like the idea of using --primary-800 as the text color to create a more soothing effect.*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: auto;
}

header {
	position: relative;
	width: 100%;
	height: auto;
}

/*Begin nav bar styling*/
.nav-container {
	width: 100%;
	height: auto;
}

.nav-container ul {
	padding: 2vh 5vw;
	display: flex;
	width: 100%;
	height: auto;
}

.nav-container ul li {
	margin-inline: 2vw;
	width: fit-content;
	height: auto;
	align-self: baseline;
	text-align: center;
	list-style: none;
}

.nav-container .img-container {
	display: flex;
	width: 25vw;
	height: auto;
	overflow: visible;
}

a .img-container img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.nav-container ul li:nth-child(3) {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	font-size: 2.5vw;
}

.nav-container ul li .link {
	position: relative;
	text-decoration: none;
	font-size: 1.75vw;
	color: var(--primary-800);
}

/*Nav link hover animation. Creates a thin background color layer located at the bottom of the link. Upon hover/focus
the line then scales to full width using the transition listed.*/
.nav-container ul li .link::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 1.5px;
	bottom: 0;
	left: 0;
	background-color: var(--primary);
	transform: scaleX(0);
	transition: transform 0.4s ease-in-out 3ms;
	will-change: transform;
}

.nav-container ul li .link:focus::before,
.nav-container ul li .link:hover::before {
	transform: scaleX(1);
}

.nav-container ul li .link:active {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 1.5px;
	bottom: 0;
	left: 0;
	background-color: var(--primary);
}

/*Style for replacement logo. Remove logo from nav bar for expanding side bar and puts it back in the header*/
.logo-small-link {
	position: relative;
	display: none;
	margin-top: 4vh;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 25.5vw;
	min-width: 195px;
	height: 100%;
}

.logo-small-link img {
	width: 100%;
	height: 100%;
}

/*Menu icon and actual checkbox are hidden with display:none at desktop sizes. Set checkbox:checked property to display
nav-container at its initial value. Creates a pop out menu using menu icon at mobile sizes.*/
#nav-toggle {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.nav-toggle-img {
	position: absolute;
	display: none;
	left: 6%;
	top: 60%;
	width: fit-content;
	cursor: pointer;
}

#nav-toggle:checked ~ .nav-container ul {
	z-index: 2;
	top: 100%;
	height: 43vh;
	border-bottom: 0.5px solid var(--black);
	border-right: 0.5px solid var(--black);
	border-bottom-right-radius: 5px;
	border-left: 0.5px solid var(--black);
	border-bottom-left-radius: 5px;
}

/*Media query for mobile screens starting at 800px. Nav-container and all child elements are moved into an absolute position
and switched to display: none. Menu button becomes visible.*/

@media (max-width: 800px) {
	.nav-container {
		z-index: 1;
		width: 100%;
		height: 0;
		overflow: hidden;
		display: block;
	}

	.nav-container ul {
		z-index: 1;
		position: absolute;
		display: block;
		top: 100%;
		left: 0;
		height: 0;
		width: 35%;
		overflow: hidden;
		background: var(--white);
		transform: height;
		transform-origin: 0%;
		transition: height 0.5s ease-in-out infinite;
		will-change: height;
	}

	.nav-container ul li {
		margin-top: 3vh;
		padding-bottom: 5vh;
		text-align: left;
	}

	.nav-container ul li:nth-child(3) {
		display: none;
	}

	.nav-container ul li .link {
		font-size: 2.5vw;
	}

	.nav-toggle-img {
		display: block;
	}

	.logo-small-link {
		display: flex;
	}
}
/*End Header design and style*/

/*Begin body styling*/
.home-container {
	z-index: 1;
	position: relative;
	width: 100%;
	height: auto;
	padding: 1.5vh 0;
	border-top: 0.5px solid var(--black);
	border-bottom: 0.5px solid var(--white);
	box-shadow: rgba(167, 139, 74, 0.45) 0px 40px 60px -40px,
		rgba(167, 139, 74, 0.25) 0px 60px 60px -40px;
}

.slider-container {
	display: flex;
	width: 100%;
	height: 70vh;
}

.img-1,
.img-2,
.img-3 {
	z-index: 0;
	margin-inline: 0.25vw;
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
}

/*image slideshow keyframe animation set at 60 seconds*/
.img-1 img,
.img-2 img,
.img-3 img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	object-fit: cover;
	object-position: center;
	z-index: 0;
	opacity: 0;
}

.img-3 > img:nth-child(1) {
	object-position: 53%;
}

.img-3 > img:nth-child(2) {
	object-position: top;
}

.img-1 img {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation 27s linear infinite 0s;
	-moz-animation: imageAnimation 27s linear infinite 0s;
	-o-animation: imageAnimation 27s linear infinite 0s;
	-ms-animation: imageAnimation 27s linear infinite 0s;
	animation: imageAnimation 27s linear infinite 0s;
	/* animation-play-state: paused; */
}

.img-1 > img:nth-child(2) {
	-webkit-animation-delay: 9s;
	-moz-animation-delay: 9s;
	-o-animation-delay: 9s;
	-ms-animation-delay: 9s;
	animation-delay: 9s;
}

.img-1 > img:nth-child(3) {
	-webkit-animation-delay: 18s;
	-moz-animation-delay: 18s;
	-o-animation-delay: 18s;
	-ms-animation-delay: 18s;
	animation-delay: 18s;
}

.img-2 img {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation 33s linear infinite 0s;
	-moz-animation: imageAnimation 33s linear infinite 0s;
	-o-animation: imageAnimation 33s linear infinite 0s;
	-ms-animation: imageAnimation 33s linear infinite 0s;
	animation: imageAnimation 33s linear infinite 0s;
	/* animation-play-state: paused; */
}

.img-2 > img:nth-child(2) {
	-webkit-animation-delay: 11s;
	-moz-animation-delay: 11s;
	-o-animation-delay: 11s;
	-ms-animation-delay: 11s;
	animation-delay: 11s;
}

.img-2 > img:nth-child(3) {
	-webkit-animation-delay: 22s;
	-moz-animation-delay: 22s;
	-o-animation-delay: 22s;
	-ms-animation-delay: 22s;
	animation-delay: 22s;
}

.img-3 img {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation 30s linear infinite 0s;
	-moz-animation: imageAnimation 30s linear infinite 0s;
	-o-animation: imageAnimation 30s linear infinite 0s;
	-ms-animation: imageAnimation 30s linear infinite 0s;
	animation: imageAnimation 30s linear infinite 0s;
	/* animation-play-state: paused; */
}

.img-3 > img:nth-child(2) {
	-webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	-o-animation-delay: 10s;
	-ms-animation-delay: 10s;
	animation-delay: 10s;
}

.img-3 > img:nth-child(3) {
	-webkit-animation-delay: 20s;
	-moz-animation-delay: 20s;
	-o-animation-delay: 20s;
	-ms-animation-delay: 20s;
	animation-delay: 20s;
}

@-webkit-keyframes imageAnimation {
	0% {
		opacity: 0;
	}
	2% {
		opacity: 1;
	}
	36% {
		opacity: 1;
	}
	37% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes imageAnimation {
	0% {
		opacity: 0;
	}
	2% {
		opacity: 1;
	}
	36% {
		opacity: 1;
	}
	37% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes imageAnimation {
	0% {
		opacity: 0;
	}
	2% {
		opacity: 1;
	}
	36% {
		opacity: 1;
	}
	37% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes imageAnimation {
	0% {
		opacity: 0;
	}
	2% {
		opacity: 1;
	}
	36% {
		opacity: 1;
	}
	37% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/*Sizing home images from desktop to mobile. Switching from flex to vertical stack.*/
@media (max-width: 1250px) {
	.slider-container {
		height: 73vh;
	}
}

@media (max-width: 975px) {
	.slider-container {
		height: 50vh;
	}
}

@media (max-width: 750px) {
	.slider-container {
		display: block;
		height: auto;
		width: 100%;
		padding: 1vw;
	}

	.img-1,
	.img-2,
	.img-3 {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: 40vh;
		margin-bottom: 2%;
		overflow: hidden;
	}

	.img-2 > img:nth-child(1),
	.img-2 > img:nth-child(3) {
		position: absolute;
		width: 88vw;
		height: 74vh;
	}

	.img-3 > img:nth-child(2) {
		position: absolute;
		width: 87vw;
		height: 70vh;
	}
}
/*End Home Page styling*/

/*Begin Gallery Page*/
.gallery-container {
	padding-top: 18vh;
	max-width: 100%;
	height: 100%;
}

.gallery-content {
	padding-top: 22vh;
	background-image: linear-gradient(
		white,
		rgba(167, 139, 74, 0.7),
		rgba(167, 139, 74),
		rgba(167, 139, 74, 0.37),
		rgba(167, 139, 74, 0.25)
	);
	width: 100%;
	height: 100%;
}

/*First attention grabbing headline*/
.random-text-1 {
	position: relative;
	padding-left: 3vw;
	width: 97%;
	height: auto;
	border-bottom: 1px solid var(--primary-800);
	opacity: 0.35;
}

.random-text-1 h1 {
	padding-bottom: 0.5vh;
	font-style: italic;
	font-size: 3vw;
	color: var(--primary-800);
}

/*Grid layout and design. 21 grid areas. 1 per picture. I used a grid generator to help me place and design the layout to match the mix of landscapes and portraits. Had to break it down into very small fractions to avoid obvious ratio distortion. Very pleased with the outcome, but would like to keep adding to the UI/UX of this massive piece of the landing page.*/
.gp1 {
	grid-area: gp1;
}
.gp2 {
	grid-area: gp2;
}
.gp3 {
	grid-area: gp3;
}
.gp4 {
	grid-area: gp4;
}
.gp5 {
	grid-area: gp5;
}
.gp6 {
	grid-area: gp6;
}
.gp7 {
	grid-area: gp7;
}
.gp8 {
	grid-area: gp8;
}
.gp9 {
	grid-area: gp9;
}
.gp10 {
	grid-area: gp10;
}
.gp11 {
	grid-area: gp11;
}
.gp12 {
	grid-area: gp12;
}
.gp13 {
	grid-area: gp13;
}
.gp14 {
	grid-area: gp14;
}
.gp15 {
	grid-area: gp15;
}
.gp16 {
	grid-area: gp16;
}
.gp17 {
	grid-area: gp17;
}
.gp18 {
	grid-area: gp18;
}
.gp19 {
	grid-area: gp19;
}
.gp20 {
	grid-area: gp20;
}
.gp21 {
	grid-area: gp21;
}

/*Editing the position of images*/
.gp2 img {
	object-position: 30%;
}

.gp3 img {
	object-position: 58%;
}

.gp10 img {
	object-position: 72%;
}

.gp17 img {
	object-position: 58%;
}

.gp19 img {
	object-position: 53%;
}

/*Gallery grid layout*/
.gallery-grid > div {
	display: flex;
	width: 100%;
	min-height: 0;
}

.gallery-grid div > img {
	display: flex;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.gallery-grid {
	padding: 8vh 0;
	width: 100%;
	max-height: 3000vh;
	display: grid;
	grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
	grid-template-rows: 0.25fr 1.25fr 0.25fr 0.25fr 1.5fr 0.25fr 0.25fr 1.25fr 0.25fr 0.25fr 1.5fr 0.25fr 0.25fr 1.25fr 0.25fr 0.25fr 1.25fr 0.25fr 0.25fr 2fr 0.25fr 0.25fr 1.5fr 0.25fr;
	column-gap: 0.5vw;
	row-gap: 0.5vw;
	grid-template-areas:
		"gp1 gp1 gp1 gp1 gp1 gp2 gp2 gp2 gp2 gp2 gp2 gp2 gp2 gp3 gp3 gp3 gp3 gp3"
		"gp1 gp1 gp1 gp1 gp1 gp2 gp2 gp2 gp2 gp2 gp2 gp2 gp2 gp3 gp3 gp3 gp3 gp3"
		"gp1 gp1 gp1 gp1 gp1 gp2 gp2 gp2 gp2 gp2 gp2 gp2 gp2 gp3 gp3 gp3 gp3 gp3"
		"gp4 gp4 gp4 gp4 gp4 gp5 gp5 gp5 gp5 gp5 gp6 gp6 gp6 gp6 gp6 gp6 gp6 gp6"
		"gp4 gp4 gp4 gp4 gp4 gp5 gp5 gp5 gp5 gp5 gp6 gp6 gp6 gp6 gp6 gp6 gp6 gp6"
		"gp4 gp4 gp4 gp4 gp4 gp5 gp5 gp5 gp5 gp5 gp6 gp6 gp6 gp6 gp6 gp6 gp6 gp6"
		"gp7 gp7 gp7 gp7 gp7 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8"
		"gp7 gp7 gp7 gp7 gp7 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8"
		"gp7 gp7 gp7 gp7 gp7 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8 gp8"
		"gp9 gp9 gp9 gp9 gp9 gp10 gp10 gp10 gp10 gp10 gp11 gp11 gp11 gp11 gp11 gp11 gp11 gp11"
		"gp9 gp9 gp9 gp9 gp9 gp10 gp10 gp10 gp10 gp10 gp11 gp11 gp11 gp11 gp11 gp11 gp11 gp11"
		"gp9 gp9 gp9 gp9 gp9 gp10 gp10 gp10 gp10 gp10 gp11 gp11 gp11 gp11 gp11 gp11 gp11 gp11"
		"gp12 gp12 gp12 gp12 gp12 gp12 gp12 gp12 gp12 gp13 gp13 gp13 gp13 gp13 gp13 gp13 gp13 gp13"
		"gp12 gp12 gp12 gp12 gp12 gp12 gp12 gp12 gp12 gp13 gp13 gp13 gp13 gp13 gp13 gp13 gp13 gp13"
		"gp12 gp12 gp12 gp12 gp12 gp12 gp12 gp12 gp12 gp13 gp13 gp13 gp13 gp13 gp13 gp13 gp13 gp13"
		"gp14 gp14 gp14 gp14 gp14 gp14 gp14 gp14 gp14 gp15 gp15 gp15 gp15 gp15 gp15 gp15 gp15 gp15"
		"gp14 gp14 gp14 gp14 gp14 gp14 gp14 gp14 gp14 gp15 gp15 gp15 gp15 gp15 gp15 gp15 gp15 gp15"
		"gp14 gp14 gp14 gp14 gp14 gp14 gp14 gp14 gp14 gp15 gp15 gp15 gp15 gp15 gp15 gp15 gp15 gp15"
		"gp16 gp16 gp16 gp16 gp16 gp16 gp17 gp17 gp17 gp17 gp17 gp17 gp18 gp18 gp18 gp18 gp18 gp18"
		"gp16 gp16 gp16 gp16 gp16 gp16 gp17 gp17 gp17 gp17 gp17 gp17 gp18 gp18 gp18 gp18 gp18 gp18"
		"gp16 gp16 gp16 gp16 gp16 gp16 gp17 gp17 gp17 gp17 gp17 gp17 gp18 gp18 gp18 gp18 gp18 gp18"
		"gp19 gp19 gp19 gp19 gp19 gp20 gp20 gp20 gp20 gp20 gp21 gp21 gp21 gp21 gp21 gp21 gp21 gp21"
		"gp19 gp19 gp19 gp19 gp19 gp20 gp20 gp20 gp20 gp20 gp21 gp21 gp21 gp21 gp21 gp21 gp21 gp21"
		"gp19 gp19 gp19 gp19 gp19 gp20 gp20 gp20 gp20 gp20 gp21 gp21 gp21 gp21 gp21 gp21 gp21 gp21";
}

/*Begin About Me preview*/
.about-container {
	padding: 10vh 0 18vh 0;
	max-width: 100%;
	height: auto;
	background-image: linear-gradient(
		rgba(167, 139, 74, 0.25),
		white,
		white,
		white,
		white
	);
}

.inner-about {
	border-top: 0.5px solid var(--black);
	border-right: 0.5px solid var(--black);
	display: flex;
	width: 100%;
	height: auto;
	margin-bottom: 4vh;
	padding: 8vh 2vw;
}

/*Professional Headshot*/
.left-container {
	display: flex;
	position: relative;
	height: 75vh;
	width: 50vw;
	background-image: url(images/Alex_1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: saturate(100%);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 12px 28px 0px,
		rgba(0, 0, 0, 0.2) 0px 2px 4px 0px,
		rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/*Short summary*/
.right-container {
	position: relative;
	height: 75vh;
	width: 50vw;
	padding: 7% 5%;
	border-right: 0.5px solid var(--black);
}

.right-container .rt-container {
	border-right: 0.64px solid var(--black);
	box-shadow: 50px 0 23px -22px rgba(167, 139, 74, 0.25);
}

.right-container h3 {
	padding-top: 6vh;
	font-style: italic;
	color: var(--primary-800);
	opacity: 0.75;
}

.right-container p {
	padding-right: 5vw;
	padding-bottom: 11vh;
	font-size: 1.2vw;
	color: var(--primary-800);
	opacity: 0.65;
	line-height: 2.7vh;
}

.sociallinks {
	display: flex;
	padding-right: 18vw;
	width: 100%;
	height: fit-content;
	justify-content: space-evenly;
}

/*Social link icons and styling*/
.sociallinks a {
	display: flex;
	align-content: center;
	margin-right: auto;
}

.sociallinks a svg path {
	transition-duration: 1s;
}

.instagram:hover path,
.instagram:focus path,
.instagram:focus-within path {
	/* background: linear-gradient(
		to top right,
		rgba(255, 190, 11, 0.65),
		rgba(251, 86, 7, 0.65),
		rgba(131, 56, 236, 0.65),
		rgba(255, 0, 110, 0.65),
		rgba(255, 0, 110, 0.65)
	); */
	fill: var(--primary);
}

.facebook:hover path,
.facebook:focus path,
.facebook:focus-within path {
	/* background: radial-gradient(
		rgb(4, 119, 242),
		rgb(95, 159, 242),
		rgb(201, 219, 255)
	); */
	fill: var(--primary);
}

.pintrest:hover path,
.pintrest:focus path,
.pintrest:focus-within path {
	/* background: radial-gradient(rgb(204, 68, 75), rgb(204, 68, 75), white); */
	fill: var(--primary);
}

.linkedin {
	padding: 2px;
}

.linkedin:hover path,
.linkedin:focus path,
.linkedin:focus-within path {
	/* background: radial-gradient(
		rgb(66, 103, 178),
		rgb(88, 144, 255),
		rgb(24, 119, 242)
	); */
	fill: var(--primary);
}

/*Lower contact link*/
.contact-box {
	display: flex;
}

.contact-box a {
	margin-left: auto;
	margin-right: auto;
	height: auto;
	font-size: 2.5vh;
	text-decoration: none;
	font-style: italic;
	color: var(--primary-800);
	opacity: 0.6;
	will-change: opacity;
}

/*Contact link hover animations*/
.contact-box a::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 1.5px;
	bottom: 0;
	left: 0;
	background-color: var(--primary);
	transform: scaleX(0);
	transition: transform 0.5s ease 3ms;
	will-change: transform;
}

.contact-box a:hover::before,
.contact-box a:focus::before {
	transform: scaleX(1);
}

.contact-box a:hover,
.contact-box a:focus {
	opacity: 1;
}

/*Media Query to reformat the about me section during resizing and smaller screens*/
@media (max-width: 1000px) {
	.about-container {
		padding-bottom: 10vh !important;
	}

	.inner-about {
		position: relative;
		display: block;
		width: 98% !important;
		height: auto;
		/* margin-bottom: 0 !important; */
		padding: 2vh 0 !important;
	}

	.left-container {
		width: 80vw !important;
		height: 50vh !important;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3vh;
	}

	.right-container {
		display: flex;
		flex-direction: row-reverse;
		width: 80vw !important;
		height: auto !important;
		margin-left: auto !important;
		margin-right: auto !important;
		padding: 0 2% !important;
		box-shadow: 50px 0 35px -25px rgba(167, 139, 74, 0.25) !important;
	}

	.right-container .rt-container {
		padding: 1% 5% !important;
		border: none !important;
		box-shadow: none !important;
		margin-top: 2.5vh;
		margin-bottom: 2.5vh;
	}

	.right-container h3 {
		opacity: 0.92 !important;
		padding-top: 2vh !important;
	}

	.right-container p {
		padding: 0 2vw 3vh 0 !important;
		font-size: 1.85vw !important;
		opacity: 0.85 !important;
		line-height: 2.25em !important;
	}

	.sociallinks {
		flex-direction: column;
		width: fit-content !important;
		height: auto !important;
		padding-right: 4vw !important;
	}

	.sociallinks a {
		display: flex;
		justify-items: space-evenly;
	}
}

/*Begin Footer Design and Layout*/
footer {
	display: flex;
	width: 100%;
	height: 26vh;
	border-top: 0.5px solid var(--white);
	box-shadow: rgba(167, 139, 74, 0.45) 0px -20px 70px -40px,
		rgba(167, 139, 74, 0.25) 0px -40px 70px -40px;
}

.footer-container {
	display: flex;
	margin: 1vh 1vw;
	border-top: 0.5px solid var(--black);
	width: 100%;
	height: 100%;
}

.footer-container .foot {
	margin: 0.5vh 0;
	border-top: 0.5px solid var(--black);
	width: 100%;
	height: 100%;
}

.left,
.middle,
.right {
	display: flex;
	flex-direction: column;
	padding: 2vh 0;
}

.left {
	justify-content: space-between;
	/* padding: 2vh 0; */
	border-right: 0.5px solid var(--black);
}

.left img {
	margin-left: 1.5vw;
	border-left: 0.5px solid var(--primary);
	border-top: 0.5px solid var(--primary);
}

.f-sociallinks {
	display: flex;
	width: 50%;
	height: auto;
	margin-left: 1.5vw;
	align-items: center;
	justify-content: space-between;
}

.f-sociallinks svg {
	border-radius: 10px;
}

.f-sociallinks .f-linkedin {
	padding: 3px !important;
}

.f-sociallinks a svg path {
	transition-duration: 0.9s;
}

.f-instagram:hover,
.f-instagram:focus,
.f-instagram:focus-within,
.f-instagram:hover path,
.f-instagram:focus path,
.f-instagram:focus-within path {
	background: linear-gradient(
		to top right,
		rgba(255, 190, 11, 0.65),
		rgba(251, 86, 7, 0.65),
		rgba(131, 56, 236, 0.65),
		rgba(255, 0, 110, 0.65),
		rgba(255, 0, 110, 0.65)
	);
	fill: white;
}

.f-facebook:hover,
.f-facebook:focus,
.f-facebook:focus-within,
.f-facebook:hover path,
.f-facebook:focus path,
.f-facebook:focus-within path {
	background: radial-gradient(
		rgb(4, 119, 242),
		rgb(95, 159, 242),
		rgb(201, 219, 255)
	);
	fill: white;
}

.f-pintrest:hover,
.f-pintrest:focus,
.f-pintrest:focus-within,
.f-pintrest:hover path,
.f-pintrest:focus path,
.f-pintrest:focus-within path {
	background: radial-gradient(rgb(204, 68, 75), rgb(204, 68, 75), white);
	fill: white;
}

.f-linkedin:hover,
.f-linkedin:focus,
.f-linkedin:focus-within,
.f-linkedin:hover path,
.f-linkedin:focus path,
.f-linkedin:focus-within path {
	background: radial-gradient(
		rgb(66, 103, 178),
		rgb(88, 144, 255),
		rgb(24, 119, 242)
	);
	fill: white;
}

.middle {
	border-right: 0.5px solid var(--black);
	justify-content: center;
	padding-bottom: 1.5vh !important;
	align-items: center;
	color: var(--black-800);
}
.f-top {
	margin-bottom: auto;
	font-size: 1.5vw;
	font-style: italic;
	letter-spacing: 0.125em;
	opacity: 0.9;
}

.f-copy {
	font-size: 1.15vw;
	letter-spacing: 0.1em;
	margin-bottom: 0.5vh;
	opacity: 0.6;
}

.f-plug {
	margin-bottom: 0.5vh;
	font-size: 0.9vw;
	letter-spacing: 0.1em;
}

.f-plug a {
	position: relative;
	text-decoration: none;
	font-style: italic;
	font-weight: 600;
	color: var(--black);
	letter-spacing: normal;
	opacity: 0.5;
	will-change: opacity;
}

.f-plug a:hover,
.f-plug a:focus {
	opacity: 1;
}

.f-plug a::before {
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.75px;
	background-color: var(--primary);
	transform-origin: center;
	transform: scaleX(0);
	transition: transform 0.6s ease-in-out 0.3ms;
	will-change: transform;
}

.f-plug a:hover::before,
.f-plug a:focus::before {
	transform: scaleX(1);
}

.right {
	padding: 4vh 0 !important;
	align-items: center;
	line-height: 1.7em;
	font-size: 1.5vw;
	color: var(--primary-800);
}

.right a {
	display: flex;
	flex-direction: column;
	width: 60%;
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
	align-items: center;
	opacity: 0.5;
	will-change: opacity;
}

.right a img {
	margin-bottom: 2vh;
}

.right a:hover,
.right a:focus {
	opacity: 1;
}

.right .f-email {
	margin-top: auto;
	margin-bottom: 1vh;
	opacity: 0.65;
}

@media (max-width: 700px) {
	.f-sociallinks {
		width: 70% !important;
		height: 1.5vh;
	}

	.f-copy,
	.f-plug {
		font-size: 1.75vw;
	}

	.right {
		font-size: 2.25vw;
	}
}
